# Python internals
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project artifacts
cache/
images/
*.epub
*.log
*.html
*.txt
!example.txt
!requirements.txt

# Specific large files
47fbeaab-a30a-4d1c-b9a4-d2ed7f21908e_orig.jpg

# System
.DS_Store
Thumbs.db
