# Python internals
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project artifacts
cache/
images/
*.epub
*.log

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
